@charset "utf-8";
@import "base";
.clearfix:before,.clearfix:after{
    content: "";
    line-height: 0;
    display: table;
}
.clearfix:after{
    clear: both;
}
li{
    line-height: 20px;
    color: #555;
}
//header
.header{
    background: #fff;
}
.header_top_box{
    border-bottom: 1px solid #eee;
}
.header_top{
    height: 44px;
    line-height: 44px;
    background: #fff;
}
.header_top_l{
    font-size: 12px;
    margin:0 5px;
}

.header_top_r{
    display: inline-block;
    height: 44px;
    .ulone{
        height: 44px;
        li{
            padding: 0 10px;
            line-height: 44px;
            a{
                display: inline-block;
            }
        }
        li.line{
            color: #cdcdcd;
        } 
    }
}
.header_btm{
    margin:14px 0 12px 0;
    overflow: hidden;
    .logo{
        width:177px;
        height:52px;
        margin-top:10px;
        background: url(../img/pro-logo.png) 0 0 no-repeat;
    }
    .search{
        margin-left: 160px;
        position: relative;
        .search_key{
            border:2px solid #40bb80;
            border-radius: 4px;
            .search_input{
                width: 482px;
                height: 40px;
                padding: 4px 6px 4px 28px;
                border: none;
                color: #000;
            }
            span{
                display:inline-block;
                width: 16px;
                height: 16px;
                background: url(../img/icon.png) 0 -526px no-repeat;
                position: absolute;
                top: 14px;
                left:7px ;
            }
            .search_btn{
                width: 100px;
                height: 40px;
                background: #40bb8c;
                font-size: 18px;
                letter-spacing: 1px;
                cursor: pointer;
                color: #fff;
                border: none;
            }
        }
        .people_search{
            margin: 15px 8px 0;
            font-size: 12px;
            span,a{
                margin-right: 20px;
                color: #898989;
            }
        }
    }
}
//main
//nav
.nav{
    border-bottom:2px solid #848382 ;
    ul{
        margin: 0 auto;
        .nav_li{
            width: 100px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: #535353;
            float: left;
            .li_a{
                display:block;
                color: #535353;
                font-weight: bold;
            }
        }
        .all_cli{
            width: 237px;
            position: relative;
            z-index: 1000;
            .li_a{
                color: #fff;
            }
        }
        .all_cli.current{
            background: #40bb8c;
        }
        #cb_classify{
            position: absolute;
            width: 100%;
            background-color:#fff;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
            .store-list{
                li{
                    height: 106px;
                    line-height: 20px;
                    border-bottom: 1px solid #cdcdcd;
                    .sort-div{
                        display:block;
                        padding:10px 31px 0 36px;
                        position:relative;
                        text-align: left;
                        cursor: pointer;
                        strong{
                            display: block;
                            font-size: 16px;
                            color: #555;
                            margin-bottom: 5px;
                            a{
                                font-size: 16px;
                                color: #555;
                            }
                        }
                        em{
                            display: inline-block;
                            width: 8px;
                            height: 14px;
                            background: url(../img/icon.png) -47px -509px;
                            position: absolute;
                            top: 46px;
                            right: 10px;
                        }
                        a{
                            display: inline-block;
                            width: auto;
                            height: 26px;
                            line-height: 26px;
                            color:#898989;
                            font-size: 14px;
                            margin:0 4px;
                        }
                    }
                }
            }
        }
    }
}
//banner
.banner{
    width: 100%;
    position: relative;
    height: 430px;
    //margin: 0 auto;
    background: #fff;
    //overflow: hidden;
}
.banner .bd{
    width:100%;
    position: relative;
    overflow: hidden;
    height: 430px;
    //z-index: 0;
    ul{
        position: relative;
        height: 430px;
        margin:0 auto;
        width: 100%;
        li{
            position: absolute;
            width:100%;
            left: 0;
            top: 0;
            //display: none;
            vertical-align: middle;
            height: 430px;
            a{
                display: inline-block;
                overflow: hidden;
                text-align: center;
                width: 1920px;
                height: 430px;
                img{
                    width:auto;
                    height:430px;
                    vertical-align: middle;
                    display: inline-block;
                    margin-left:-897px;
                    opacity: 0;
                    z-index:0;
                }
            }
        }
    }
}
.banner .bd ul .cur a img{
    opacity: 1;
}
.banner .hd{
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: 1;
    height: 15px;
    overflow: hidden;
    margin-left: -80px;
    ul{
        overflow: hidden;
        zoom: 1;
        z-index: 2;
        li{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
            margin: 0 20px;
            border:1px solid #40bb8c;
            cursor: pointer;
        }
    }
}
.banner .hd ul li:nth-child(1){
    border-width: 3px;
}
//new_product
#new_product{
    margin-top: 26px;
}
.new_pro_hd{
    ul {
        li{
            float: left;
            width: 146px;
            height: 46px;
            line-height: 46px;
            text-align: center;
            cursor: pointer;
            font-size: 16px;
            color: #555;
        }
        .current{
            border-left: 1px solid #e5e5e5;
            border-right:1px solid #e5e5e5;
            border-top: 3px solid #40bb8c;
            border-bottom: 2px solid #fff;
            margin-top: -3px;
        }
    }
}
.new_pro_list.current{
    display: block;
}
.new_pro_list{
    border: 1px solid #e5e5e5;
    display: none;
    li{
        width: 199px;
        float: left;
        overflow: hidden;
        margin:10px 0;
        padding: 0 10px;
        border-right:1px solid #efefef ;
        text-align: center;
        .tit{
            margin-top: 20px;
            a{
                display: block;
                width: 178px;
                color: #898989;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 20px;
                font-weight: bold;
            }
            .price{
                color: #fe645a;
                font-size: 20px;
                line-height: 26px;
            } 
        }
        .pic{
            width: 160px;
            height: 160px;
            display: inline-block;
            overflow: hidden;
            a{
                display: block;
                width: 100%;
                height: 100%;
                img{
                    display: inline-block;
                    width:160px;
                    transition: all 1s ease;
                }
            }
        } 
        .pic:hover a img:hover{
            transform:scale(1.2);
        }
    }
}
/*-----内配Internal--------*/
.bd_b{
    border-bottom: 1px solid #f5f5f5;
}
.bd_r{
    border-right:1px solid #f5f5f5;
}
.common{
.floor_tit{
    //height: 64px;
    margin:33px 0 5px;
    h2{
        height: 26px;
        line-height: 26px;
        font-size: 20px;
        color: #898989;
        font-weight: bold;
        float: left;
        border-left: 3px solid #ffff00;
        a{
            padding-left: 10px;
            cursor: pointer;
        }
    }
    .more{
        float: right;
        margin-right: 16px;
        font-size: 14px;
        a{
            color: #000;
            padding-left: 20px;
        }
        .more_a{
            color: #b5b5b5;
            .icon-arrow{
                display: inline-block;
                width: 12px;
                height: 13px;
                background: url(../img/icon.png) -78px -509px;
            }
        }
    }
}
.common_con{
    width: 100%;
    height: auto;
    padding: 10px 0;
    .recommend{
        width: 231px;
        float: left;
        border:1px solid #eee;
        .pic{
            width: 100%;
            text-align: center;
            a{
                img{
                    display: inline-block;
                    width: 231px;
                    cursor: pointer;
                    vertical-align: middle;
                }
            }   
        }
        
    }
    .figure_hot{
        float: right;
        width: 960px;
        height: auto;
        border: 1px solid #e6e6e6;
        margin-top: 2px;
        .figure_left{
            float: left;
            width: 578px;
            ul{
                li{
                    float: left;
                    height: 286px;
                    position: relative;
                    cursor: pointer;
                }
                li.main{
                    width: 384px;
                    img{
                        position: absolute;
                        width: 240px;
                        height: 240px;
                        left: 0;
                        bottom: 0;
                    }
                    .txt{
                        padding-left: 180px;
                        margin-top: 20px;
                        text-align: center;
                        line-height: 26px;
                        .tit{
                            font-size: 16px;
                            color: #6a6a6a;
                            height: 26px;
                            line-height: 26px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .money{
                            color: #fe645a;
                            font-size: 22px;
                            line-height: 1.6;
                            span{
                                font-size: 16px;
                                color: #fe645a;
                            }
                        }
                    }
                }
                li.sw{
                    width: 192px;
                    img{
                        width: 160px;
                        height: 160px;
                        margin: 34px auto;
                        display: block;
                    }
                    .txt{
                        text-align: center;
                        line-height: 26px;
                        .tit{
                            width: 160px;
                            margin:0 auto;
                            font-size: 16px;
                            color: #333;
                            height: 26px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .money{
                            color: #fe645a;
                            font-size: 20px;
                            span{
                                font-size: 16px;
                                color: #fe645a;
                            }
                        }
                    }
                }
            }
        }
        .figure_right{
            float: left;
            width: 379px;
            ul{
                li{
                    width: 380px;
                    height: 142px;
                    cursor: pointer;
                    img{
                        width: 120px;
                        height: 120px;
                        float: left;
                        padding:11px 0 0 50px;
                        vertical-align: middle;
                    }
                    .txt{
                        float: left;
                        width: 180px;
                        padding-top: 30px;
                        text-align: center;
                        line-height: 36px;
                        .tit{
                            color: #535353;
                            line-height: 26px;
                            max-height: 72px;
                            overflow: hidden;
                        }
                        .money{
                            font-size: 20px;
                            color: #f44;
                            span{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
    
}

/*-----外配External--------*/
/*-----工具Tool--------*/